.chobi{
    margin-right: 0%;
}
.nasim{
    color: white;
    margin-bottom: 8px;
    margin-left: 16px
}
span{
    display: inline-block;
    color: red;
}
p{
    text-align: justify;
    margin: 20px 20px;
}
h1{
    background-color: turquoise;
    text-align: center;
    font-size: 50px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.form{
    background-color: teal;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 0%;
    border-radius: 10px;
    border: 5px solid yellow;
    padding: 5px 5px;
    padding-top: 10px;
    padding-left: 40%;
    text-align: center;
    text-align: justify;
}
