.chobi{
    margin-right: 0%;
}
.nasim{
    color: white;
    margin-bottom: 8px;
    margin-left: 16px
}
span{
    display: inline-block;
    color: red;
}
p{
    text-align: justify;
    margin: 20px 20px;
}
h1{
    background-color: turquoise;
    text-align: center;
    font-size: 50px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hurmiya{
    margin-left: 45%;
    margin-top: 80px;
}